<title>VirtualClass - Projeto PPI</title>
<body>
  <nav class="nav">
    <a class="nav-link">VirtualClass</a>

    <img
      src="https://cdn.connectescolas.com.br/images/Gestao-Escolar/gestao-escolar.svg"
      width="100px"
    />
    <a class="nav-link" href="#" routerLink="/inicio">Início</a> <br />
    <a class="nav-link" href="#" routerLink="/cadastrar">Cadastrar</a>
    <br />
    <a class="nav-link active" aria-current="page" routerLink="/consultar"
      >Consultar</a
    >
    <br />
    <a class="nav-link" href="#" routerLink="/calcular">Calcular Média</a>
    <a class="nav-link" href="#" routerLink="/turma">Turma Virtual</a>
  </nav>

  <router-outlet></router-outlet>
</body>
